<% if signed_in? %>
  <section>
    <%= render 'shared/stats' %>
  </section>
  <%= form_for(@post) do |f| %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose new post..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  <% end %>

  <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
<% else %>
<div class="signin-welcome-message">
<h2>Welcome.</h2>
    <%= form_for(:session, url: sessions_path) do |f| %>

    
    <%= f.text_field :username, placeholder: "Username" %>

    <%= f.password_field :password, placeholder: "Password", class: "signin-password" %>

    <%= f.submit "GO", class: "signin-submit" %>
  <% end %>

  <div class="signin-registermsg">Don't have an account yet? <%= link_to "Register!", signup_path, class: "signup-button" %></div>
</div>


<% end %>
