<% if signed_in? %>
<div class="homepage-user-info">
    <section>
      <h3><%= @current_user.full_name %></h3>
      <h4>@<%= @current_user.username %></h4>
      <%= render 'shared/stats' %>
    </section>
    <%= form_for(@post) do |f| %>
      <div class="field">
        <%= f.text_area :content, placeholder: "Compose new post..." %>
      </div>
      <%= f.submit "Post", class: "homepage-submit" %>
    <% end %>
  </div>

  <div class="user-posts">
    <h3>Posts</h3>
        <%= render 'shared/feed' %>
  </div>



<% else %>
<div class="signin-welcome-message">
<h2>Welcome.</h2>
    <%= form_for(:session, url: sessions_path) do |f| %>

    
    <%= f.text_field :username, placeholder: "Username" %>

    <%= f.password_field :password, placeholder: "Password", class: "signin-password" %>

    <%= f.submit "GO", class: "signin-submit" %>
  <% end %>

  <div class="signin-registermsg">Don't have an account yet? <%= link_to "Register!", signup_path, class: "signup-button" %></div>
</div>


<% end %>
