<div class="user-profile">
  <div class="user-info">
    <p id="notice"><%= notice %></p>
    <div class="image"></div>
    <h2><%= @user.full_name %></h2>
    <h3 class="user-info-username">@<%= @user.username %></h3>
    <!-- put actual description info here later -->
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>

    <p class="location"><strong>Halifax, Nova Scotia, Canada</strong></p>
    <%= render 'follow_form' if signed_in? %>
  </div>



  <div class="user-posts">
      <% if @user.posts.any? %>
        <h3> posts (<%= @user.posts.count %>)</h3>
        <ul class="posts">
          <%= render @posts %>
        </ul>
      <% else %>
        <p> Someone's sleepy! Why don't you make a first post!</p>
      <% end %>
    </div>

  </div>

