<div class="user-profile">
  <div class="user-info">
    <p id="notice"><%= notice %></p>
    <div class="image"></div>
    <h2><%= @user.full_name %></h2>
    <h3 class="user-info-username">@<%= @user.username %></h3>
    <p class="description"><%= @user.description if !blank? %></p>
    <p class="location"><%= @user.location if !blank? %></p>
    
    <!-- posts/following/followers -->
    <%= render 'shared/stats' %>
    <%= render 'follow_form' if signed_in? %>
  </div>



  <div class="user-posts">
      <% if @user.posts.any? %>
        <ul class="posts">
          <%= render @posts %>
        </ul>
      <% else %>
        <p>No posts so far.</p>
        <% if current_user %>
        <p class="new-user-message"> Someone's sleepy! Why don't you make a first post?! You can edit your profile in Settings. You can add a description about yourself, add where you are in the world and upload a picture of your very own! </p>
        <% end
       end %>
    </div>

  </div>

