<div class="user-profile">
  <div class="user-info">
    <p id="notice"><%= notice %></p>
    <div class="image"></div>
    <h2><%= @user.full_name %></h2>
    <h3 class="user-info-username">@<%= @user.username %></h3>
    <!-- put actual description info here later -->
    <p><%= @user.description if !blank? %></p>

    <p class="location"><strong><%= @user.location if !blank? %></strong></p>
    <div class="user-stats">
      <!-- Replace this with the stats partial -->
      <p>
        <span><b><%= @user.followed_users.count %></b> <br>following </span>
        <span><b><%= @user.followers.count %></b> <br>followers</span>
        <span><b><%= @user.posts.count %></b> <br>posts</span>
      </p>
    </div>

    <%= render 'follow_form' if signed_in? %>
  </div>



  <div class="user-posts">
      <% if @user.posts.any? %>
        <ul class="posts">
          <%= render @posts %>
        </ul>
      <% else %>
        <p> Someone's sleepy! Why don't you make a first post!</p>
      <% end %>
    </div>

  </div>

